{{> head }} {{> header showBanner=false }}
<main>
  <div class="container">
    <section class="background">
      <div class="section-header">

      </div>
      <div class="section-body">
        <div class="gallery">
          <h2>Small Pool, Big Job</h2>
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <a href="/images/projects/project-1/project-pool-1_visit-1.jpg" title="Project 1 Visit 1" class="thumbnail">
                <img src="/images/projects/project-1/project-pool-1_visit-1.jpg" alt="Project 1 Visit 1" />
              </a>
            </div>
            <div class="col-xs-4 col-sm-3">
              <a href="/images/projects/project-1/project-pool-1_visit-2.jpg" title="Project 1 Visit 2" class="thumbnail">
                <img src="/images/projects/project-1/project-pool-1_visit-2.jpg" alt="Project 1 Visit 2" />
              </a>
            </div>
            <div class="col-xs-4 col-sm-3">
              <a href="/images/projects/project-1/project-pool-1_visit-3.jpg" title="Project 1 Visit 3" class="thumbnail">
                <img src="/images/projects/project-1/project-pool-1_visit-3.jpg" alt="Project 1 Visit 3" />
              </a>
            </div>
          </div>
          <div class="desctiption">
            <p>
              This is what we were confronted with today. Pump had failed some time ago with no action taken.
            </p>
            <p>
              Rebuilt pump from spare and new parts and added some treatment chemicals.
            </p>
          </div>
        </div>
        <div class="section-body">
          <div class="gallery">
            <h2>2 Visit Wonder</h2>
            <div class="row">
              <div class="col-xs-4 col-sm-3">
                <a href="/images/projects/project-3/project-3-visit-1a.jpg" title="2 Visit Wonder Day One - Before" class="thumbnail">
                    <img src="/images/projects/project-3/project-3-visit-1a.jpg" alt="2 Visit Wonder Day One - Before">
                  </a>
              </div>
              <div class="col-xs-4 col-sm-3">
                <a href="/images/projects/project-3/project-3-visit-1b.jpg" title="2 Visit Wonder Day One - After" class="thumbnail">
                    <img src="/images/projects/project-3/project-3-visit-1b.jpg" alt="2 Visit Wonder Day One - After">
                  </a>
              </div>
              <div class="col-xs-4 col-sm-3">
                <a href="/images/projects/project-3/project-3-visit-2.jpg" title="2 Visit Wonder Day Two" class="thumbnail">
                    <img src="/images/projects/project-3/project-3-visit-2.jpg" alt="2 Visit Wonder Day 2">
                  </a>
              </div>
            </div>
            <div class="description">
              <h4>Day 1</h4>
              <p>
                The first two pictures above show the pool before and after the chris'tal clear crew undertook a full cleans and service
                of the filtration system. The results were seen immediately
              </p>
              <h4>Day 2</h4>
              <p>
                We returned the next day for a final clean and vacuum after allowing the filtration system to run for 24 hours. The owner
                was so pleased with the results that she is now a monthly customer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="background">
      <div class="section-header">
        <h2 class="section-title">Gallery</h2>
      </div>
      <div class="section-body">
        <div class="gallery">
          <div class="row">
            <div class="col-xs-4 col-sm-4">
              <a href="/images/gallery/circular_clean.jpg" title="Like new pool" class="thumbnail">
                <img src="/images/gallery/circular_clean.jpg" />
              </a>
            </div>
            <div class="col-xs-4 col-sm-4">
              <a href="/images/gallery/mahogany_clean.jpg" title="Like new pool" class="thumbnail">
                <img src="/images/gallery/mahogany_clean.jpg" />
              </a></div>
            <div class="col-xs-4 col-sm-4">
              <a href="/images/gallery/wenlock_clean.jpg" title="Like new pool" class="thumbnail">
                <img src="/images/gallery/wenlock_clean.jpg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{{> footer }}