{{> head }} {{> header }}
<main>
  <div class="container">
    <section class="background">
      <div class="page-head">
        <h2 class="home-statement">Welcome to Chris'tal Clear Pool Manitenance</h2>
      </div>
      <div class="text-center home-banner">
        <img src="/images/home-banner.jpg" class="img-responsive" />
      </div>
      <p>
        Do you sometimes worry there is too much cleaning and maintenance year round keeping your pool fresh, clean and usable? Let
        our professionals show you how to turn your pool into a pleasure - not a chore!!!
      </p>
      <div class="services">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="service">
              <div class="service-icon">
                <i class="material-icons">search</i>
              </div>
              <div class="service-name">
                <h4>Inspections</h4>
              </div>
              <div class="service-description">
                We are certified in QLD and NSW to certify your pool for leasing and selling.
              </div>
              <div class="service-action">
                <a class="btn btn-primary" href="/services/inspections.html">Find Out More</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="service">
              <div class="service-icon">
                <i class="material-icons">content_paste</i>
              </div>
              <div class="service-name">
                <h4>Testing</h4>
              </div>
              <div class="service-description">
                We test all ascpects of your pool, from fencing to filters we cover it.
              </div>
              <div class="service-action">
                <a class="btn btn-primary" href="/services/testing.html">Find Out More</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="service">
              <div class="service-icon">
                <i class="material-icons">build</i>
              </div>
              <div class="service-name">
                <h4>Maintenance</h4>
              </div>
              <div class="service-description">
                Want to keep your pool running smoothly, we can do regular maintenance.
              </div>
              <div class="service-action">
                <a class="btn btn-primary" href="/services/maintenance.html">Find Out More</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 no-flex">
            <div class="service">
              <div class="service-icon">
                <i class="material-icons">autorenew</i>
              </div>
              <div class="service-name">
                <h4>Repairs</h4>
              </div>
              <div class="service-description">
                Got an old pump that needs fixing? We can do that and include a guarantee.
              </div>
              <div class="service-action">
                <a class="btn btn-primary" href="/services/repairs.html">Find Out More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="review speech-bubble bottom-left">
      <div class="section-title">
        <h3>Recent Reviews</h3>
      </div>
      <div class="speech-bubble-marker"></div>
      <div class="speech-bubble-content review-container">
        <div class="stars text-center">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
        </div>
        <div class="review-content">
          <p>
            Absolutely top notch service with a smile. So reliable, efficient and cost effective. Turned my green nightmare into a crystal
            clear pleasure. Thanks Chris for all your help, advice and training!!!
          </p>
        </div>
        <div class="review-author">
          <h5>- Narelle Dealy</h5>
        </div>
      </div>
    </section>
    <section class="background">
      <div class="section-title">
        <div class="row">
          <div class="col-xs-8">
            <h3>Recent Projects</h3>
          </div>
          <div class="col-xs-4">
            <div class="carousel-buttons text-right">
              <button class="prev">
                <i class="material-icons">keyboard_arrow_left</i>
              </button>
              <button class="next">
                <i class="material-icons">keyboard_arrow_right</i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="carouselbox">
          <ol class="content">
            <li>
              <div class="project-single">
                <div class="project-media">
                  <img src="images/pool_7_b.jpg" alt="After 4 visits this pool is just like new" title="Great result in just 4 visits" />
                </div>
                <div class="project-description">
                  <p>
                    Nobody is envious of this type of green!
                  </p>
                  <p>
                    Visit 1: We hit this pool with a chemical treatment to clear up as much of the algae as possibly.
                  </p>
                  <p>
                    Visit 2: Leaving the pump of for 48 hours, we returned with a test kit and some hard work ahead of us. We applied a shock
                    treatment to boost up the pool levels to where we need them to be, and also applied a little bit of elbow
                    grease to the bottom.
                  </p>
                  <p>
                    Visit 3: Now we can see some results, but we aren't finished yet. With the shock treatment applied we are now able to adjust
                    our chemical levels and so they can sit nice and pretty and do what they do best
                  </p>
                  <p>
                    Visit 4: which leads us to our finally visit. The TLC visit, we gave this pool a bit of love after it had been scrubbed and
                    dose for the past 5 days, we gave it a nice vacuum and a final test and now it's gone from a bummer to
                    summer.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="project-single">
                <div class="project-media">
                  <img src="images/pool_6_a.jpg" alt="After 4 visits this pool is just like new" title="Great result in just 4 visits" />
                </div>
                <div class="project-description">
                  <p>
                    This customers pool was constantly going green. Even with constant treatments the algae kept re-appearing. A phone call to
                    the Chris'tal Clear team and we were able to narrow the problem down to a filtration fault. We were also
                    met with the pool having some sever staining. We allowed for 2 chemical treatments over the course of
                    a week and the results speak for themselves.
                  </p>
                  <p>
                    Are you also met with this problem?
                  </p>
                  <p>
                    If so, contact Chris on 0437671171 and get the treatment your pool deserves.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section class="news">
      <div class="section-title">
        <h3>Latest News</h3>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-sm-4 col-xs-6 mb-xs-4">
            <div class="news-article-single">
              <div class="article-media">
                <img src="images/news/special-offer.jpg" alt="Speical Offer" title="New Offer Available">
              </div>
              <div class="article-header">
                <h4 class="article-title">New Offer Available</h4>
              </div>
              <div class="article-body">
                <p>
                  The two most common sayings are; "money can't buy happiness" and "The best things in life are free".
                </p>
              </div>
              <div class="article-footer">
                <div class="read-more"><a href="/news/new-offer-available.html">Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 mb-xs-4">
            <div class="news-article-single">

              <div class="article-media">
                <img src="images/news/lean-pool-care.jpg" alt="Pool maintenence products and hose" title="Lean Pool Care">
              </div>
              <div class="article-header">
                <h4 class="article-title">Lean Pool Care</h4>
              </div>
              <div class="article-body">
                <p>
                  What is Lean Pool Care?
                </p>
                <p>
                  Today, we’re talking about my concept of lean pool care...
                </p>
              </div>
              <div class="article-footer">
                <div class="read-more"><a href="/news/lean-pool-care.html">Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 mb-xs-4">
            <div class="news-article-single no-media">
              <div class="article-header">
                <h4 class="article-title">Pool Leaks</h4>
              </div>
              <div class="article-body">
                <p>
                  I have been called many times over the last few weeks regarding possible pool leaks. In short yes at this time of year with
                  the wind and heat a considerable amount of water will be lost weekly.
                </p>
                <p>
                  Here is a simple test, get a bucket and place any amount of...
                </p>
              </div>
              <div class="article-footer">
                <div class="read-more"><a href="/news/pool-leaks.html">Read More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{{> suppliers}} {{> footer }}