{{> head }}

<body>
  {{> header showBanner=false }}
  <main class="single-page prices">
    <div class="container">
      <section class="background" id="maintenance-pricing">
        <div class="section-header">
          <h2 class="section-title">Maintenance Packages</h2>
        </div>
        <div class="section-body">
          <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="table-container">
                <table width="100%">
                  <tr>
                    <th class="product-item">
                      Monthly Pool Maintenance
                    </th>
                    <th class="product-price">
                      $55 per month
                    </th>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p>For pools where you do a little yourself. 1 Visit per month.</p>
                    </td>
                  </tr>
                  <tr>
                    <th class="product-item">
                      Fortnightly Pool Maintenance
                    </th>
                    <th class="product-price">
                      $100 per month
                    </th>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p>For leafy pools or when you don't have time. 2 Visits per month.</p>
                    </td>
                  </tr>
                  <tr>
                    <th class="product-item">
                      Weekly Pool Maintenance
                    </th>
                    <th class="product-price">
                      $180 per month
                    </th>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p>For pools that need a lot of attention. 4 Visits per month.</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-4 off-md-1 col-sm-6 col-xs-12">
              <p>Each maintenance visit will include: </p>
              <ul>
                <li>Vacume the pool</li>
                <li>Test the water</li>
                <li>Add chemicals</li>
                <li>Empty Baskets</li>
                <li>Check the cleaner</li>
                <li>Clean the filter, pump &amp; chlorinator</li>
                <li>Grease O-rings</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p>Maintenance costs <strong>DO NOT</strong> including pool chemicals and spare parts.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="background">
        <div class="section-header">
          <h2 class="section-title">Fixed Price Pool Maintenance</h2>
        </div>
        <div class="section-body">
          <div class="row">
            <div class="col-xs-12">
              <p>
                Fixed Price Pool Maintenance (Save Money with this service)
              </p>
              <p>
                We are proud to announce our “Fixed Price” swimming pool maintenance program. We are very good at maintaining pools, so we
                are willing to offer you Fixed Price Pool Maintenance Services. Our fixed price pool services are designed
                for busy people and quite often used by land lords and real estate agents. By using this service you can
                know what your pool maintenance is going to cost 12 months in advance, based on our 12month contract.
              </p>
              <p>
                Fixed price pool maintenance includes the weekly pool service and the chemicals, which means there are no more trips to the
                pool shop to buy lots and lots of chemicals and there are no outrageous bills for keeping your pool looking
                great.
              </p>
              <p>
                Our standard rate for a <strong>50,000L</strong> in ground pool is <strong>$200p/m</strong> (Inc GST) including all chemicals. To sign up for this service,
                your pool does require an initial service, during this service we will check all your pool's equipment and
                bring your pool water up to scratch. This initial service does not include chemicals, spare parts or equipment;
                however we will tell you what, if any costs are involved before signing you up to this awesome program. Why
                not use a pool service that saves you money, month after month?
              </p>
              <p><a href="/contact.html" class="btn btn-primary">Contact Us Now</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  {{> footer }}
</body>

</html>
