{{> head }}
<body>
{{> header showBanner='/images/news/lean-pool-care.jpg' }}
<main class="single-news-page">
  <div class="container">
    <section class="background">
      <div class="section-header">
        <div class="row">
          <div class="col-sm-8 col-xs-10">
            <h2 class="section-title">Lean Pool Care</h2>
          </div>
          <div class="col-sm-4 col-xs-2">
            <div class="meta date-posted">
              <span class="day">30</span><span class="month">DEC</span>
            </div>
          </div>
        </div>

      </div>
      <div class="section-body">
        <p>
          What is Lean Pool Care?
        </p>
        <p>
          Today, we’re talking about my concept of lean pool care.
        </p>
        <p>
          Lean pool care is the practice of pool maintenance using as little time and equipment as possible.
        </p>
        <p>
            Wouldn’t it be nice if you didn’t have to clean your pool all the time, or worry about keeping it clear? That’s the beauty and simplicity of lean pool care.
        </p>
        <p>
          Here are my pool care philosophies that I’ve developed over the years.
        </p>
        <ol>
          <li>Stick to one source of information you trust.</li>
          <li>Proper circulation is the key to a clean and healthy pool.</li>
          <li>Consistent cleaning will reduce the need for extra chemicals and equipment when problems arise.</li>
          <li>Simple is always better: less chemicals, more cleaning, better circulation.</li>
          <li>Swimming can help prevent water problems such as algae and cloudy water.</li>
          <li>Cleanliness is next to godliness. Always keep your equipment and tools clean as well as the
          water.</li>
          <li>Balance is the key to making your sanitizers more effective.</li>
          <li>Automate as many processes as you can, including adding chemicals, vacuuming your pool, and
          operating your filter equipment.</li>
          <li>Be mindful of the environment. Conserve water, reduce energy consumption and be aware that
          everything in nature can and will affect your pool.</li>
          <li>Keep Calm and Appreciate Your Pool.</li>
        </ol>
        <p>
          Happy swimming and Merry Christmas
        </p>
      </div>
    </section>
    <div class="news-navigation">
      <div class="row">
        <div class="col-xs-6">
          <div class="previouse-news">
            <!-- no newer news -->
          </div>
        </div>
        <div class="col-xs-6">
          <div class="next-news">
            <div class="article-title">
              <h4><a href="/news/pool-leaks.html">Pool Leaks</a></h4>
            </div>
            <div class="news-navigation-arrow">
              <a href="/news/pool-leaks.html" title="Pool Leaks"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
</body>
</html>
