{{> head }}
<body>
{{> header showBanner='/images/news/special-offer.jpg' }}
<main class="single-news-page">
  <div class="container">
    <section class="background">
      <div class="section-header">
        <div class="row">
          <div class="col-sm-8 col-xs-10">
            <h2 class="section-title">New Offer Available</h2>
          </div>
          <div class="col-sm-4 col-xs-2">
            <div class="meta date-posted">
              <span class="day">28</span><span class="month">MAR</span>
            </div>
          </div>
        </div>

      </div>
      <div class="section-body">
        <p>
          The two most common sayings are; "money can't buy happiness" and "The best things in life are free".
        </p>
        <p>
            Well money can buy pools and pools bring happiness which brings me to my next point, for the whole month of April the Chris'tal Clear team are doing FREE professional testing of your pool. No catches, no terms or conditions, no obligations, it's absolutely free. With the recent rain we have had how's your pool coping?
        </p>
        <p>
          Just call Chris on 0437671171 and book in your free test for April.
        </p>
        <p>
          Now isn't that just the best thing?
        </p>
      </div>
    </section>
    <div class="news-navigation">
      <div class="row">
        <div class="col-xs-6">
          <div class="previouse-news">
            <div class="news-navigation-arrow">
              <a href="/news/lean-pool-care.html" title="Lean Pool Care"><i class="material-icons">keyboard_arrow_left</i></a>
            </div>
            <div class="article-title">
              <h4><a href="/news/lean-pool-care.html">Lean Pool Care</a></h4>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="next-news">
            <!-- no older news -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
</body>
</html>
