{{> head }}
<body>
{{> header showBanner=false }}
<main class="single-news-page">
  <div class="container">
    <section class="background">
      <div class="section-header">
        <div class="row">
          <div class="col-sm-8 col-xs-10">
            <h2 class="section-title">Pool Leaks</h2>
          </div>
          <div class="col-sm-4 col-xs-2">
            <div class="meta date-posted">
              <span class="day">21</span><span class="month">OCT</span>
            </div>
          </div>
        </div>

      </div>
      <div class="section-body">
        <p>
          I have been called many times over the last few weeks regarding possible pool leaks. In short yes at this time of year with the wind and heat a considerable amount of water will be lost weekly.
        </p>
        <p>
            Here is a simple test, get a bucket and place any amount of pool water you like in it. Mark the water level on the bucket and the level on the skimmer( use duct tape). Place bucket of water on a pool step or beside pool. Measure levels in 2 days time.
        </p>
        <p>
          Other common areas are in the gaskets or Spring on the "multi port valve" (MPV)that is the part with a handle on the filter you move to perform different functions like back washing. Undo the union on the valve that has the pipe work going to the drain, if water is coming out of there while pump is in filter mode there is a issue with the MPV.
        </p>
        <p>
          If your still not sure give us a call
        </p>
      </div>
    </section>
    <div class="news-navigation">
      <div class="row">
        <div class="col-xs-6">
          <div class="previouse-news">
            <div class="news-navigation-arrow">
              <a href="/news/lean-pool-care.html" title="Lean Pool Care"><i class="material-icons">keyboard_arrow_left</i></a>
            </div>
            <div class="article-title">
              <h4><a href="/news/lean-pool-care.html">Lean Pool Care</a></h4>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="next-news">
            <div class="article-title">
              <h4><a href="/news/new-offer-available.html">New Offer Available</a></h4>
            </div>
            <div class="news-navigation-arrow">
            <a href="/news/new-offer-available.html" title="New Offer Available"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
</body>
</html>
