.services {
  padding-top: 8px;
  padding-bottom: 8px;

  .service {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .service-icon {
      color: #cb7c15;
    }

    .service-description {
      flex-grow: 1;
      padding-bottom: 8px;
    }
  }
}
