.social-icons {
  display: flex;
  justify-content: flex-start;
  a {
    display: block;
    max-width: 24px;
    margin-left: 8px;
    color: #ffc000;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .social-icons {
    justify-content: flex-end;
  }
}