<footer>
  <div  class="container">
    <div class="row">
      <div class="footer-left col-xs-6">
        <h4>Quick Links</h4>
        <ul id="footer-nav">
          <li><a href="/contact.html">Contact</a></li>
          <li>
            <a href="/prices.html">Prices</a>
          </li>
          <li>
            <a href="/services/inspections.html">Inspections</a>
          </li>
        </ul>
      </div>
      <div class="footer-right col-xs-6 text-right">
        {{> social}}
        <div class="phone">
          <i class="material-icons">phone</i>
          <span><a href="tel:0437671171">0437 671 171</a></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 sub-footer">
        <p>
          Site By tomraine.com
        </p>
      </div>
    </div>
  </div>
</footer>
