<div id="sidebar-menu">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <ul id="sidebar-nav">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/gallery.html">Gallery</a></li>
    <li>
      <a href="services.html" class="has-sub-menu">
        Services
        <span class="sub-menu-marker"><i class="material-icons">keyboard_arrow_down</i></span>
      </a>
      <ul class="sub-menu">
        <li><a href="/services/inspections.html">Inspections</a></li>
        <li><a href="/services/testing.html">Testing</a></li>
        <li><a href="/services/maintenance.html">Maintenance</a></li>
        <li><a href="/services/repairs.html">Repairs</a></li>
      </ul>
    </li>
    <li><a href="/news.html">News</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
  {{> social}}
</div>
<header>
  <div class="container">
    <div class="row visible-xs">
      <div class="col-xs-12 text-right">
        <div class="phone">
          <i class="material-icons">phone</i>
          <span><a href="tel:0437671171">0437 671 171</a></span>
        </div>
      </div>
    </div>
    <div id="site-head" class="row">
      <div id="menu-toggle" class="visible-xs col-xs-2">
        <a href="javascript:void(0)" onclick="openNav()">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <div class="site-heading col-sm-3 col-xs-8 text-center">
        <h1 class="has-logo">Chris'tal Clear Pool Maintenence</h1>
        <a href="/index.html"><img class="logo" src="/images/logo.png" alt="Chris'tal Clear Pool Manintenence" title="Chris'tal Clear Pool Manintenence" /></a>
      </div>
      <div class="col-sm-6 hidden-xs">
        <nav>
          <ul id="main-nav">
            <li>
              <a href="/index.html"><i class="material-icons">home</i></a>
            </li>
            <li><a href="/gallery.html">Gallery</a></li>
            <li>
              <a href="/services.html" class="has-sub-menu">Services</a>
              <ul class="sub-menu">
                <li><a href="/services/inspections.html">Inspections</a></li>
                <li><a href="/services/testing.html">Testing</a></li>
                <li><a href="/services/maintenance.html">Maintenance</a></li>
                <li><a href="/services/repairs.html">Repairs</a></li>
              </ul>
            </li>
            <li><a href="/news.html">News</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-3 col-xs-6 text-right hidden-xs">
        {{> social}}
        <div class="phone">
          <i class="material-icons">phone</i>
          <span><a href="tel:0437671171">0437 671 171</a></span>
        </div>
      </div>
    </div>
  </div>
</header>