<div class="social-icons">
  <a href="mailto:service@christalclearpools.com.au">
    <i class="material-icons">email</i>
  </a>
  <a href="https://www.facebook.com/christalclearpoolmaintenance/" target="_blank">
    <img src="/images/facebook.png" alt="facebook" title="Facebook" />
  </a>
</div>
