<div class="suppliers">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        <div class="supplier">
          <a href="https://allstarpoolparts.com.au/" target="_blank" title="Allstar Pool Parts" />
            <img src="/images/supplier_logos/allstar-pool-parts.png" alt="Allstar Pool Parts" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="supplier">
          <a href="https://www.astralpool.com.au/" target="_blank" title="Astral Pool" />
            <img src="/images/supplier_logos/astral-pool.png" alt="Astral Pool" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="supplier">
          <a href="http://www.crystalclearaus.com/" title="Crystal Clear Chlorinators" target="_blank">
            <img src="/images/supplier_logos/crystal-clear-chlorinators.png" alt="Crystal Clear Chlorinators" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="supplier">
          <a href="http://pentairpool.com.au/" target="_blank" title="Pentair">
            <img src="/images/supplier_logos/pentair.png" alt="Pentair Pool" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="supplier">
          <a href="https://www.waterco.com.au/" title="Waterco" target="_blank">
            <img src="/images/supplier_logos/waterco.png" alt="Waterco" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="supplier">
          <a href="https://www.zodiac.com.au/" title="Zodiac" target="_blank">
            <img src="/images/supplier_logos/zodiac.png" alt="Zodiac" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2 off-sm-4">
        <div class="supplier">
          <a href="https://www.poolpro.com.au/" target="_blank" title="Pool Pro">
            <img src="/images/supplier_logos/pool-pro.png" alt="Pool Pro" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="supplier">
          <a href="https://www.poolrite.com/" target="_blank" title="Poolrite">
            <img src="/images/supplier_logos/poolrite.png" alt="Poolrite" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
