{{> head }} {{> header showBanner=false }}
<main>
  <div class="container">
    <section class="background">
      <div class="section-header">
        <h2 class="section-title">Certified Qld and NSW inspector</h2>
      </div>
      <div class="section-body content">
        <div class="row">
          <div class="col-xs-12">
            <p>Is Your Pool Safe?</p>
            <p>Is Your Pool Certified?</p>
            <p>Are You Selling Your Home?</p>
            <p>Are you leasing your home?</p>
            <p>New laws require that if you are selling or leasing a property with a Pool or Spa you must have a current Pool
              Certificate of Compliance or a Certificate of Non-compliance as part of your contract of sale.</p>
            <p>A certificate of Non-compliance can be issued by us and attached to the contract of sale, this details all areas
              of non-compliance and gives the new purchaser 90 days from the settlement date to rectify all non-compliant
              items and obtain a Certificate of Compliance.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <p>The new Legations are being implemented to help reduce early childhood drowning or near drowning.</p>
            <p>We can help you comply with the new laws and obtain your Pool Safety Compliance Certificate for your home, strata
              complex or apartment block. Pool Safety Certification NSW and Qld are a fully accredited servicing the Southern
              Gold Coast and Northern Rivers region of NSW including Tweed Shire, Byron Shire and Ballina Shire. We also
              provide services to other areas by arrangement.</p>
            <p>Help stop childhood drowning or near drowning. Pool Safety Certification re committed to help in keeping all
              children pool safe and to help achieve zero drowning in NSW and Queensland</p>
            <p>The team at Chris’tal Clear Pool Maintenance are dedicated to helping you pass your pool safety inspection the
              first time so as to limit any additional charges. Below are the most common issues that make people fail their
              QLD pool safety inspection. Make sure you pass your pool safety inspection the first time. Follow our pre-inspection
              checklist, book your pool safety inspection and get approved for your certificate first go.</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <img src="/images/kids_in_pool.jpg" class="img-responsive rounded-corners" />
          </div>
        </div>
      </div>
      <div class="section-body content">
        <h2>2017 QLD Pool Safety Checklist</h2>
        <h3>Pool Barrier / Fencing</h3>
        <ul class="checkbox-style">
          <li>Is your pool fencing a constant height 1.2 meters or higher around the pool?</li>
          <li>Is the gap on either side of the vertical bars when squeezing them less than 100mm?</li>
          <li>Are all pool fence panels present and firmly secure to the post?</li>
          <li>Are the pool fence posts firmly secure to the ground?</li>
          <li>Is the timber boundary pool fence structurally sound?</li>
          <li>Are all the timber boundary pool fence palings present and secure to the fence?</li>
          <li>Are there any gaps under your pool fence that are more 100mm?</li>
          <li>Is any part of your pool fence damaged?</li>
          <li>Are all parts of the living and dwelling areas protected by a child resistant barrier measuring at least 1200mm
            from all sides?</li>
          <li>Around and In the Pool Fence Area</li>
          <li>Are there any climbable objects* such as 1200mm of outside the pool fence?</li>
          <li>Are there any climbable objects* within 300mm clear zone inside the pool fence area?</li>
          <li>Is there any objects* within 900mm where the pool fence intersects another fence?</li>
          <li>Is the CPR sign current and in clear view from inside the pool area?</li>
          <li>Are the windows which open directly into the pool area open only a maximum of 100mm or have a security type screen
            over it?</li>
          <li>Are there any potential hand holds or foot holds within 900mm from the top or bottom of the pool fence?</li>
        </ul>
        <h3>Pool Gates</h3>
        <ul class="checkbox-style">
          <li>Are the pool gate hinges a minimum distance of 900mm apart and not within the 900mm climbable zone from where the
            fences intersect?</li>
          <li>Do the pool gates open out and way from the pool area?</li>
          <li>Is the pool gate locking mechanism at least 1500mm from the ground?</li>
          <li>Does your pool gates self close and self lock from any open position?</li>
        </ul>
        <sup>*Common climbable objects are stored items, potted plants, tree branches, tree stumps, shrubs, deck chairs, BBQs, water taps and pool equipment.
        Other</sup>
        <h3>Other</h3>
        <ul class="checkbox-style">
          <li>Current Cardiopulmonary resuscitation (CPR) sign prominently displayed in the pool area</li>
          <li>Pool is on the pool safety register</li>
          <li>Existing pool safety certificate (where applicable)</li>
          <li>Pool safety certificate is valid</li>
          <li>Building approval for the swimming pool/portable pool/spa</li>
        </ul>
      </div>
      <div class="section-body content">
        <h2>2017 Latest NSW Pool Safety Inspection Checklist</h2>
        <p>To meet the swimming pool fence regulations in NSW and to avoid getting a non-compliance certificate after a pool
          compliance inspection, you should go through a proper evaluation on your pool safety.</p>
        <p>Here is a self-assessment checklist to determine if your pool is compliant with the Australian Standards (NSW fencing
          law in this case)</p>
        <h3>Pool fence</h3>
        <ul class="checkbox-style">
          <li>Pool fence should be at least 1200mm high (from the ground level).</li>
          <li>The gap from the bottom of the fence to the ground is no more than 100mm.</li>
          <li>If a boundary fence is part of the pool fence, the barrier should be 1800mm high from the pool area.</li>
          <li>The gap between the vertical bars in the fence should not exceed 100mm.</li>
          <li>The gap between the horizontal bars should be at least 900cm apart.</li>
          <li>The holes in the barrier (if mesh fencing is used) should be 13mm or less.</li>
          <li>The pool fence should be well maintained and in good working condition (no holes, rust or broken parts).</li>
        </ul>
        <h3>Pool gate and windows</h3>
        <ul class="checkbox-style">
          <li>Gate should be self-closing from any position.</li>
          <li>The gate should latch by itself.</li>
          <li>The latching device should be at least 1500mm above the ground level.</li>
          <li>The gate should open outwards (away from the pool).</li>
          <li>Windows should open not more than 100mm and should have a locking device.</li>
        </ul>
        <h3>Non-Climbable Zone (NCZ)</h3>
        <ul class="checkbox-style">
          <li>There should be no potential hand holds or foot holds (e.g. shrubs, trees, pot plants, ladders, chairs and other
            objects) within the 900mm non-climbable zone.</li>
          <li>Non-Climbable Zone should be measured in an arc shape from the top of the fence to the ground.</li>
          <li>There should be a 300mm clearance from the barrier inside the pool area.</li>
          <li>An appropriate warning sign such as the CPR guidelines should be available near the pool area and can be easily
            read from a distance of 3m.</li>
        </ul>
        <h3>For indoor pools and spas</h3>
        <ul class="checkbox-style">
          <li>Checklist for all indoor pools, including spas that don’t have a lockable child –resistant closure:</li>
          <li>The latch on the gate should be at least 1500mm above ground level.</li>
          <li>There should be no pet door or opening that is more than 100mm.</li>
          <li>There should be no wall openings greater than 100mm.</li>
          <li>The windows should open to a maximum of 100mm.</li>
          <li>An appropriate and clear warning sign such as the CPR guidelines should be available near the pool area and can
            be easily read from a distance of 3m.</li>
          <li>There should be no climbable objects within 1200mm area outside the fence.</li>
          <li>This assessment only serves as a guide for you before having your pool safety inspection.</li>
        </ul>
      </div>
    </section>
  </div>
</main>
{{> footer }}