{{> head }}

<body> {{> header showBanner=false }}
  <main>
    <div class="container">
      <section class="background">
        <div class="section-header">
          <h2 class="section-title">POOL and SPA, MAINTENANCE and ADVICE</h2>
        </div>
        <div class="section-body">
          <div class="row">
            <div class="col-xs-12">
              <h3>Pool Minding</h3>
              <p>Going on a long holiday? We can look after your pool to ensure that it is perfectly maintained in your absence.</p>
              <p>Our team will check the water and provide cleaning and basic maintenance while you’re away.</p>
              <p> <a href="/contact.html" class="btn btn-primary">Contact Us</a> </p>
              <h3>What type of pool maintenance do I need?</h3>
              <p>The majority of people get their pool maintained or their pool service monthly or fortnightly. This is often
                sufficient providing your pool has enough water and your filtration is running correctly.</p>
              <p>Maintaining your swimming pool doesn't have to be a difficult process.</p>
              <p><a href="/contact.html" class="btn btn-primary">Contact Us</a> <a href="/prices.html#maintenance-pricing" class="btn btn-primary">View Pricing</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main> {{> footer }} </body>

</html>