{{> head }} {{> header showBanner=false }}
<main class="single-page maintenence">
  <div class="container">
    <section class="background" id="maintenance-pricing">
      <div class="section-header">
        <h2 class="section-title">POOL and SPA, MAINTENANCE and ADVICE</h2>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-xs-12">
            <p>
              Do you sometimes worry there is too much cleaning and maintenance year round keeping your pool fresh, clean and usable? Let
              our professionals show you how to turn your pool into a pleasure - not a chore!!!!
            </p>

            <h3>Pool Minding</h3>
            <p>Going on a long holiday? We can look after your pool to ensure that it is perfectly maintained in your absence.</p>
            <p>Our team will check the water and provide cleaning and basic maintenance while you’re away.</p>
            <p> <a href="/contact.html" class="btn btn-primary">Contact Us Now</a> </p>

            <h3>What type of pool maintenance do I need?</h3>
            <p>The majority of people get their pool maintained or their pool service monthly or fortnightly. This is often
              sufficient providing your pool has enough water and your filtration is running correctly.</p>
            <p>Maintaining your swimming pool doesn't have to be a difficult process.</p>
            <p><a href="/contact.html" class="btn btn-primary">Contact Us Now</a></p>
          </div>
        </div>
      </div>
    </section>
    <section class="background" id="maintenance-pricing">
      <div class="section-header">
        <h2 class="section-title">Pool Maintenance (Price depended on pool size) phone for a free quote</h2>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="table-container">
              <table width="100%">
                <tr>
                  <th class="product-item">
                    Monthly Pool Maintenance
                  </th>
                  <th class="product-price">

                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <p>For pools where you do a little yourself. 1 Visit per month.</p>
                  </td>
                </tr>
                <tr>
                  <th class="product-item">
                    Fortnightly Pool Maintenance
                  </th>
                  <th class="product-price">

                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <p>For leafy pools or when you don't have time. 2 Visits per month.</p>
                  </td>
                </tr>
                <tr>
                  <th class="product-item">
                    Weekly Pool Maintenance
                  </th>
                  <th class="product-price">

                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <p>For pools that need a lot of attention. 4 Visits per month.</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
            <p>All visits include the following:</p>
            <ul>
              <li>Vacuum the pool</li>
              <li>Test the water</li>
              <li>Add chemicals</li>
              <li>Empty baskets</li>
              <li>Check the cleaner</li>
              <li>Clean and inspect filter, pump and chlorinator</li>
              <!-- <li>Check and inspect cleaning equipment</li> -->
              <li>Grease O-rings</li>
            </ul>
            <p>NB service also available excluding the pool vacuum for those with automatic pool cleaners at a reduced price.
              <a href="/contact.html">Ring today for a quote.</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>NB service also available excluding the pool vacuum for those with automatic pool cleaners at a reduced price.
              <a href="/contact.html">Ring today for a quote.</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>Maintenance services <strong>DO NOT</strong> including pool chemicals and spare parts.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="background" id="test-pricing">
      <div class="section-header">
        <h2 class="section-title">Test, equipment inspection and basic maintenance</h2>
      </div>
      <div class="section-body">
        <p>
          Used extensively by landlords, tenant pays for chemicals. Advantages of this service is pool water balance is kept within
          manufacturers standards preventing any premature wear and tear of expensive filtration equipment. We can tailor
          a service for every client needs
        </p>
        <div class="row">
          <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="table-container">
              <table width="100%">
                <tr>
                  <th class="product-item">1 visit per month</th>
                  <th class="product-price">$30 p/m (Inc GST)</th>
                </tr>
                <tr>
                  <th class="product-item">2 visits per month</th>
                  <th class="product-price">$50 p/m (Inc GST)</th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="background">
      <div class="section-header">
        <h2 class="section-title">Fixed Price Pool Maintenance</h2>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-xs-12">
            <p>
              Fixed Price Pool Maintenance (Save Money with this service) Our fixed price pool services are designed for busy people and
              quite often used by strata and holiday units. By using this service, you can know what your pool maintenance
              is going to cost 12 months in advance. Weekly free testing and chemicals are included, pool cleaning services
              can be customised to suit your needs and budget.
            </p>
            <p><a href="/contact.html" class="btn btn-primary">Contact Us Now</a></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main> {{> footer }}