{{> head }} {{> header showBanner=false }}
<main>
  <div class="container">
    <section class="background">
      <div class="section-header">
        <h2 class="section-title">Services - Repairs</h2>
      </div>
      <div class="section-body">
        <p>
          We repair all brands of Chlorinators including Salt Water, Mineral and Ozone.
        </p>
        <p>All brands are available for purchase and install if it is deemed your chlorinator is not suitable for repair. We
          keep an extensive range of saltwater replacement cells at the best prices. All cells carry a 2year full warranty.
          We also do cell repairs, Swimming Pool Light Repairs, Pool Cleaner Repairs. </p>
        <p>We provide quality repair and maintenance services for a wide range of Swimming pool pumps. </p>
        <p>We also carry out Fountain Pump Repairs, Spa pump repair, Pool Pump Maintenance. We are also able to replace and
          install any pump that is not economically viable for repair, at the best possible price. </p>
        <p>Is your pool filter valve leaking or broken? Is your pool filter leaking water to the drain? We can rebuild your
          filter valve and make it function as good as new again for under half the price of a new one. We can also replace
          it altogether if your one is too far gone. We have a full range of spare parts available for all filters and can
          be repaired on the spot at time of visit in most cases.
        </p>
      </div>
    </section>
  </div>
</main>
{{> footer }}