{{> head }} {{> header showBanner=false }}
<main>
  <div class="container">
    <section class="background">
      <div class="section-header">
        <h2 class="section-title">Services - Repairs</h2>
      </div>
      <div class="section-body">
        <p>
          Detailed description of repair service here
        </p>
      </div>
    </section>
  </div>
</main>
{{> footer }}