{{> head }}
<body>
{{> header showBanner=false }}
<main>
  <div class="container">
    <section class="background">
      <div class="section-header">
        <h2 class="section-title">Services - Testing</h2>
      </div>
      <div class="section-body">
        <p>
          Onsite pool water balance testing using the latest computerised equipment.
        </p>
        <p>Only pay for the chemicals you need at the time and not have opened packets of dangerous chemicals stored at your home</p>
        <p class="text-center">
          <img src="/images/testing_images.jpg" />
        </p>
      </div>
    </section>
  </div>
</main>
{{> footer }}
</body>
</html>
