header {
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-size: contain;*/
  /* background: url('../images/header-bg.png') repeat-x left bottom #ffffff; */
  background: #2e6da4;
  .site-heading {
    h1.has-logo {
      text-indent: -2000px;
      height: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .logo {
      max-width: 200px;
      max-height: 120px;
    }
  }
}

@media (max-width: 991px) {
  header {
    .site-heading {
      .logo {
        max-width: 170px;
      }
    }
  }
}