header {
  padding-top: 8px;
}

.page-banner {
  height: 20vh;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: ($tablet + 1px)) and (max-width: $desktop) {
  .page-banner {
    height: 35vh;
  }
}
@media screen and (min-width: ($desktop + 1px)) {
  .page-banner {
    height: 40vh;
  }
}
