.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.rounded-corners {
  @include all-border-radius(15px);
}

@media screen and (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }
}